$button-color: #09814a;
$hover-button: #0cac64;
$text-color: #e6e8e6;
$primary-text-color: #92b4a7;

.page-container-page-one {
    background-image: url("../../assets/img/wallpaper-landing-page.svg");
    width: 100vw;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        clear: both;
        overflow: hidden;
        width: 40vw;
        margin-left: 10vw;
        height: 100%;

        h1 {
            font-style: normal;
            font-weight: bold;
            font-family: "Zilla Slab Highlight", sans-serif;
            color: $primary-text-color;
            padding-top: 30px;
            font-size: 58px;
            line-height: 65px;
        }

        h3 {
            font-style: normal;
            font-weight: bold;
            font-family: "Zilla Slab Highlight", sans-serif;
            color: $primary-text-color;
            text-align: left;
            font-size: 28px;
            line-height: 30px;
        }

        .btn-container {
            display: flex;
            justify-content: flex-end;

            width: 100%;

            .btn {
                cursor: pointer;
                font-family: "Roboto", sans-serif;
                font-weight: bold;
                color: $text-color;
                text-decoration: none;

                font-size: 22px;

                &.btn-primary {
                    background-color: $button-color;
                    border: none;

                    border-radius: 12px;
                    max-width: 200px;
                    padding: 5px 10px;

                    transition: all 0.2s;

                    &:hover {
                        background-color: $hover-button;
                    }
                }
            }
        }
    }
}
