.page-container-login {
  display: flex;
  height: 100vh;
  padding-top: 4%;

  .login-container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    background-color: #1d6e39;
    flex: 1;

    .top-container {
      display: flex;
      justify-content: space-between;
      flex: 1.5;

      .login-text {
        display: flex;

        flex-direction: column;
        justify-content: flex-end;

        h2 {
          font-family: "Zilla Slab Highlight", sans-serif;
          font-style: normal;
          font-weight: bold;
          color: #ffffff;

          font-size: 40px;
          line-height: 58px;
          padding-bottom: 35px;
        }
      }

      .login-icon {
        align-self: flex-end;

        .img {
          width: 200px;
          height: 250px;
        }
      }
    }

    .middle-container {
      display: flex;
      flex-direction: column;
      flex: 2;
      padding-right: 30%;

      .field {
        background: #ffffff;
        border: 1px solid #c0c0c0;
        box-sizing: border-box;

        padding: 5px;
        border-radius: 10px;
        height: 50px;
        width: 450px;

        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        margin-bottom: 7px;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        color: #002776;
        margin-top: 2px;
        padding-left: 10px;
        cursor: pointer;
      }

      .button-enter {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
          cursor: pointer;
          font-family: "Roboto", sans-serif;
          font-weight: bold;
          color: #fff;
          text-decoration: none;

          font-size: 22px;

          &.btn-enter {
            background-color: #15a146;
            border: none;

            border-radius: 10px;
            max-width: 400px;
            padding: 5px 18px;
            width: 300px;
            text-align: center;

            margin-bottom: 50px;
            transition: all 0.2s;

            &:hover {
              background-color: #14803a;
            }
          }
        }
      }

      .button-socialMedia {
        display: flex;
        justify-content: space-around;

        .btn {
          cursor: pointer;
          font-family: "Roboto", sans-serif;
          font-weight: bold;
          color: #fff;
          text-decoration: none;
          height: 50px;
          margin-top: 20px;
          font-size: 22px;
          border-radius: 10px;
          border: none;

          &.btn-google {
            border: 1px solid #c0c0c0;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: transparent;

            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            margin-right: 8px;

            color: #c0c0c0;

            &:hover {
              background-color: #998787;
            }
          }

          &.btn-facebook {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;

            color: #f6f7f8;
            align-self: flex-end;
            background: rgb(25, 119, 243);

            &:hover {
              background-color: #83a0ce;
            }
          }
          .icon-button {
            width: 18px;
            height: 18px;
            margin-bottom: 5px;

            &.google {
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .bottom-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      flex: 4;
      padding-right: 30%;
      text-decoration: none;

      p {
        font-family: "Roboto", sans-serif;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
