.page-container-page-three {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: arial;
  flex-direction: column;

  h1 {
    position: relative;
    margin-top: -80px;
    margin-left: 65vh;
    margin-bottom: 50px;
    font-family: Impact, "Poppins", sans-serif;
    font-style: italic;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: #12425c;
    width: 900px;
    color: #ffffff;
    font-size: 55px;
    text-transform: capitalize;
  }
}

.container_card {
  width: 1200px;
  margin-top: -150px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container_card .card1 {
  position: relative;
}

.container_card .card1 {
  width: 300px !important;
  height: 30px !important;
  transition: 0.4s;
}

.container_card .face {
  width: 300px !important;
  height: 300px !important;
  transition: 0.4s;
}

.container_card .face2 {
  width: 300px !important;
  height: 200px !important;
  transition: 0.4s;
}

.container_card .card1 .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container_card .card1:hover .face.face1 {
  transform: translateY(0);
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #09814a,
    inset -20px 0 80px #0ff, inset 20px 0 300px #09814a,
    inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #09814a,
    10px 0 80px #0ff;
}

.container_card .card1 .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  text-align: center;
}

.container_card .card1:hover .face.face1 .content {
  opacity: 1;
}

.container_card .card1 .face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}

.container_card .card1 .face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}

.container_card .card1 .face.face1 .content a {
  transition: 0.5s;
}

.container_card .card1 .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container_card .card1:hover .face.face2 {
  transform: translateY(0);
}

.container_card .card1 .face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
}

.container_card .card1 .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  outline: 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.container_card .card1 .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

ul {
  color: #121d0c;
  margin-top: 10px;
  margin-left: -18px;
}
