$button-color: #09814a;
$hover-button: #0cac64;
$text-color: #e6e8e6;
$primary-text-color: #f3efe2;

.home-container {
  background-color: #ffffff;
}

.page-container-page-one {
  background-image: url("../../assets/img/wallpaper-landing-page.svg");
  background-size: 100vw auto;
  background-position: center bottom;
  width: 100vw;
  height: 100vh;
}

img {
  width: 100%;
}

h1 {
  width: 400px;
  font-style: normal;
  font-weight: bold;
  font-family: "Zilla Slab Highlight", sans-serif;
  color: $primary-text-color;
  margin-top: -100px;
  padding-top: 30px;
  margin-left: 40px;
  font-size: 58px;
  line-height: 65px;
}

h3 {
  width: 300px;
  font-style: normal;
  font-weight: bold;
  font-family: "Zilla Slab Highlight", sans-serif;
  color: $primary-text-color;
  text-align: left;
  font-size: 28px;
  line-height: 30px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}
