.page-container-catalog {
    display: flex;
    overflow-x: hidden;

    width: 100vw;

    padding-top: 75px;
    background-color: #2d3d30;

    .catalog-sidebar {
        display: flex;
        flex: 1;

        height: calc(100vh - 75px);

        flex-direction: column;
        align-items: center;

        h2 {
            color: #f3efe2;
        }
    }

    .flex-catalog-product-list {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .catalog-product-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, 220px);
            grid-template-rows: 240px;
            grid-row-gap: 25px;
            grid-column-gap: 25px;

            width: 100%;

            .product-items {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 240px;

                text-decoration: none;

                img {
                    width: 50px;
                }

                h2 {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
