.page-container-catalog {
  display: flex;
  overflow-x: hidden;

  width: 100vw;
  //   height: calc(100vh - 75px);

  padding-top: 75px;

  .catalog-sidebar {
    flex: 1;
    border: solid red 5px;
    height: calc(100vh - 75px);
  }

  .flex-catalog-product-list {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .catalog-product-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, 220px);
      grid-template-rows: 240px;
      grid-row-gap: 25px;
      grid-column-gap: 25px;

      width: 100%;

      .product-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 240px;

        img {
          width: 50px;
        }

        h2 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
