.home-container {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;

    .page {
        background-color: #000;
        width: 100vw;
        height: 100vh;
        
        &.no-one {
            background-image: url('../../assets/img/wallpaper-landing-page.svg');

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                clear: both;
                overflow: hidden;

                width: 40vw;
                margin-left: 10vw;
                height: 100%;

                h1 {
                    font-style: normal;
                    font-weight: bold;
                    font-family: 'Zilla Slab Highlight', sans-serif;
                    color: #15A146;

                    font-size: 64px;
                    line-height: 77px;
                }

                h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-family: 'Zilla Slab Highlight', sans-serif;
                    color: #fff;

                    font-size: 36px;
                    line-height: 43px;

                }

                .btn-container {
                    display: flex;
                    justify-content: flex-end;

                    width: 100%;

                    .btn {
                        cursor: pointer;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        color: #fff;
                        text-decoration: none;
            
                        font-size: 22px;
            
                        &.btn-primary {
                            background-color: #15A146;
                            border: none;
            
                            border-radius: 12px;
                            max-width: 200px;
                            padding: 5px 10px;

                            transition: all 0.2s;

                            &:hover {
                                background-color: #149441;
                            }
                        }
                    }
                }

            }
        }

        &.no-two {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1D6E39;
            
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                margin-top: 100px;
                width: 75%;
                height: 75%;

                h2 {
                    font-family: 'Zilla Slab Highlight';
                    font-style: normal;
                    font-weight: bold;
                    color: #FFFFFF;

                    font-size: 36px;
                    line-height: 44px;
                }

                .product {
                    display: flex;
                    flex: 1;
                    width: 100%;
                    flex-wrap: wrap;

                    .product-items{
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        align-items: center;

                        img {
                            height: 300px;
                        }

                        .name-font {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                            color: #fff;
                            text-decoration: none;
                
                            font-size: 40px;
                        }

                        h2{
                            margin: 10px;
                        }

                        .velho-barreiro {
                            width: 120px;
                            height: 300px;
                        }
                    }            
                }
            }

            
        }

        &.no-three {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #15A146;

            ;
            
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin-top: 100px;
                width: 50%;
                height: 75%;

                h1 {
                    font-style: normal;
                    font-weight: bold;
                    color: #FFFFFF;

                    font-family: "Roboto", sans-serif;
                    
                    margin-bottom: 100px;
                    font-size: 52px;
                    line-height: 60px;
                }

                .plans {
                    display: flex;
                    flex-direction: row;

                    width: 100%;

                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        width: 100%;

                        .plan {
                            background-color: #fff;
                            border: none;
                            
                            width: 65%;
                            border-radius: 22px;

                            h2 {
                                font-style: normal;
                                font-weight: bold;
                                color: #0B5425;
                                
                                font-family: Roboto;
                                
                                font-size: 22px;
                                line-height: 28px;

                                span {
                                    font-size: 12px;
                                }
                            }

                            ul {
                                color: #0B5425;

                                margin-left: -18px;
                            }
                        }

                        .selection {
                            display: flex;
                            height: 100%;
                            
                            .plans-selection {
                                height: 80%;

                                .btn-plan {
                                    cursor: pointer;
                                    font-style: normal;
                                    font-weight: bold;
                                    color: #0B5425;
                                    background-color: transparent;
                                    border: none;
                                    
                                    font-family: Roboto;
                                    
                                    margin-bottom: 8px;
                                    width: 50%;
                                    font-size: 28px;
                                    line-height: 32px;
                                    transition: all 0.2s;

                                    &:hover {
                                        background-color: #0e7231;
                                        color: #fff;
                                        border: none;
                        
                                        border-radius: 12px;
                                    }

                                    &.selected {
                                        background-color: #0B5425;
                                        color: #FFFFFF;

                                        border-radius: 12px;
                                    }
                                }
                            }

                            .btn-container {
                                height: 20%;

                                button {
                                    width: 40%;
                                    cursor: pointer;
                                    font-style: normal;
                                    font-weight: bold;
                                    background-color: #0B5425;
                                    color: #fff;
                                    border: none;
                                    
                                    font-family: Roboto;

                                    border-radius: 12px;
                                    font-size: 20px;
                                    line-height: 26px;
                                    transition: all 0.2s;

                                    &:hover {
                                        background-color: #0e7231;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.no-four {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #45A165;
            flex-direction: column;

            .footer-container {
                display: flex;
                width: 100%;
                flex: 1;
                justify-content: center;
                align-items: center;
                background-color: #1D6E39;
                height: 64px;

                p {
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #FFFFFF;
                }
            }
            
            .content {
                order: -1;
                display: flex;
                justify-content: space-between;
                margin-top: 100px;
                width: 75%;
                height: 75%;

                h2 {
                    font-family: 'Zilla Slab Highlight';
                    font-style: normal;
                    font-weight: bold;
                    color: #FFFFFF;

                    font-size: 36px;
                    line-height: 44px;
                }

                .about {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .logo {
                        cursor: pointer;
                        justify-content: center;
                        width: 190px;
                        height: 190px;
                        margin-top: -50px;
                    }

                    p {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        color: #FFFFFF;
                        text-align: justify;

                        width: 50%;
                    }
                }

                .useful-links {
                    display: flex;
                    flex-direction: column;
                    .need-help{

                        h2 {
                            font-family: "Roboto", sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            text-align: justify;
                            color: #FFFFFF;
                            
                            font-size: 34px;
                            line-height: 40px;
                            margin-top: 85px;
                        }
    
                        h3 {
                            font-family: "Roboto", sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            text-decoration-line: underline;
                            text-align: justify;
                            color: #FFFFFF;
                            
                            font-size: 25px;
                            line-height: 35px;
                            margin-top: -20px;
                        }
                    }

                    .social-media {
                        h2 {
                            font-family: "Roboto", sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            text-align: justify;
                            color: #FFFFFF;
                            
                            font-size: 34px;
                            line-height: 40px;
                            margin-top: 60px;
                        }
                    }

                    .icon-container {
                        display: flex;
                        justify-content: space-between;

                        .social-media-icon{
                            width: 60px;
                            height: 60px;
                            cursor: pointer;
                            margin-left: -10px;

                        }
                    }
                }
            }
        }
    }
}