.home-container {
    display: block;
    width: 100vw;
    height: 100vh;

    .page {
        background-color: #000;

        width: 100vw;
        height: 100vh;
        
        &.no-one {
            background-image: url('../../assets/img/wallpaper-landing-page.svg');

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: 40vw;
                margin-left: 10vw;
                height: 100%;

                h1 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 58px;
                    line-height: 68px;

                    text-decoration: dashed;
                    text-decoration-color: #15A146;
                }

                h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 36px;

                    color: #FFFFFF
                }

                .btn-container {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;

                    .btn {
                        cursor: pointer;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        color: #fff;
                        text-decoration: none;
            
                        font-size: 18px;
            
                        &.btn-primary {
                            background-color: #15A146;
                            border: none;
            
                            border-radius: 12px;
                            max-width: 200px;
                            padding: 5px 10px;
                        }
                    }
                }

            }
        }

        &.no-two {
            background-color: #1D6E39;
        }
    }
}