.home-container {
    display: block;
    width: 100vw;
    height: 100vh;

    .page {
        background-color: #000;
        width: 100vw;
        height: 100vh;
        
        &.no-one {
            background-image: url('../../assets/img/wallpaper-landing-page.svg');

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                clear: both;
                overflow: hidden;

                width: 40vw;
                margin-left: 10vw;
                height: 100%;

                h1 {
                    font-style: normal;
                    font-weight: bold;
                    font-family: 'Zilla Slab Highlight', sans-serif;
                    color: #15A146;

                    font-size: 64px;
                    line-height: 77px;
                }

                h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-family: 'Zilla Slab Highlight', sans-serif;
                    color: #fff;

                    font-size: 36px;
                    line-height: 43px;

                }

                .btn-container {
                    display: flex;
                    justify-content: flex-end;

                    width: 100%;

                    .btn {
                        cursor: pointer;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        color: #fff;
                        text-decoration: none;
            
                        font-size: 22px;
            
                        &.btn-primary {
                            background-color: #15A146;
                            border: none;
            
                            border-radius: 12px;
                            max-width: 200px;
                            padding: 5px 10px;

                            transition: all 0.2s;

                            &:hover {
                                background-color: #149441;
                            }
                        }
                    }
                }

            }
        }

        &.no-two {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1D6E39;
            
            .content {
                display: flex;
                justify-content: center;

                margin-top: 100px;
                width: 50%;
                height: 75%;

                h2 {
                    font-family: 'Zilla Slab Highlight';
                    font-style: normal;
                    font-weight: bold;
                    color: #FFFFFF;

                    font-size: 36px;
                    line-height: 44px;
                }
            }
        }
    }
}