.page-container-page-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #535353;

    width: 100vw;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 77%;
        height: 85%;
        padding-top: 5%;

        h2 {
            font-family: "Zilla Slab Highlight";
            font-style: normal;
            font-weight: bold;
            color: #a5d8b7;

            font-size: 36px;
            line-height: 40px;
        }

        button {
            appearance: none;
            background: transparent;
            border: none;
            color: white;
            font-size: 5rem;
            transition: opacity 0.3s;
            opacity: 0.7;
            z-index: 5;

            &:hover {
                opacity: 1;
            }

            &:focus {
                outline: none;
            }
        }

        .carousel {
            border: solid red 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            margin-bottom: 10px;

            width: 100%;
        }
    }
}
