.page-container-page-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #535353;

    width: 100vw;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 77%;
        height: 85%;
        padding-top: 5%;

        h2 {
            font-family: "Zilla Slab Highlight";
            font-style: normal;
            font-weight: bold;
            color: #a5d8b7;

            font-size: 36px;
            line-height: 40px;
        }
    }
}
