.header-container {
    display: flex;
    background-color: #1D6E39;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 100px;
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 80vw;

        .logo {
            cursor: pointer;

            width: 90px;
            height: 100%;
        }

        .btn {
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #fff;
            text-decoration: none;

            font-size: 18px;

            &.btn-primary {
                background-color: #15A146;
                border: none;

                border-radius: 10px;
                max-width: 200px;
                padding: 5px 10px;
            }
        }
    }
}