.header-container {
    display: flex;
    background-color: #1D6E39;
    align-items: center;
    justify-content: center;
    position: fixed;
    
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, .2);
    width: 100vw;
    height: 100px;
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 80vw;

        .logo {
            cursor: pointer;

            width: 90px;
            height: 100%;
        }

        .btn {
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #fff;
            text-decoration: none;

            font-size: 22px;

            &.btn-primary {
                background-color: #15A146;
                border: none;

                border-radius: 10px;
                max-width: 200px;
                padding: 5px 18px;

                transition: all 0.2s;

                &:hover {
                    background-color: #149441;
                }
            }
        }

        .user-data {
            display: flex;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            color: #fff;

            font-weight: 400;

            img {
                width: 70px;
                height: 70px;
                margin-left: 18px;
            }
        }
    }
}