.page-container-terms {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1D6E39;
    
    .fake-header {
        display: flex;
        height: 12%;
        justify-content: space-between;
        padding: 10px;

        .logo {
            width: 100px;
            height: 100px;
        }
    }
    
    .use-terms-container {
        display: flex;
        flex-direction: column;
        height: 80%;
        background: #FFFFFF;

        .use-terms-header {
            display: flex;
                        
            h1 {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                line-height: 5px;
                padding-left: 10%;
                color: #0B5425;

            }
        }

        .use-terms-content {
            display: flex;
            flex: 1;
            padding-left: 10%;
            padding-right: 10%;

            p {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 22px;
                text-align: justify;

                color: #8F908F;
            }
        }
    }

    .use-terms-footer {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
  
        p {
          align-self: flex-end;
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 22px;
          padding: 5px;
          color: #ffffff;
          text-align: center;
        }
    }
}
